.header
    position: fixed
    top: 0
    z-index: 100
    width: 100dvw
    display: flex
    align-items: center
    background: var(--color-accent)
    min-height: 4rem
    padding: 1rem 1.5rem
    column-gap: 1.5rem

    nav
        ul
            display: flex
            list-style: none

            li
                padding: 8px 16px
                color: var(--color-foreground)
